<ion-view title="Anonymous" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="anonymous-markdown9" style="color:#000000;" class=" ">
            <strong>Anonymous</strong>| 25 April 2016</p>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <p id="anonymous-markdown10" style="color:#000000;" class=" ">For all ladies out there, please beware of Hong Kong men contacting you on dating sites like OKCupid. They are likely to be love scammers and here is their usual mode of operation. They will claim to be a VIP manager working in a stock trading
            company, having PR status in HK and owes both house and car. The photos used on their profile are stolen from the internet.A reverse image check on Google showed that they were using China celebrities photo stolen from blogs or news sites.
            They will claim they are keen to know girls from Singapore cos HK ladies are unreasonable etc. They will try to build up a love relationship fast and will ask their target to be their girlfriend very fast. Most of them will try to exort for
            money citing an exclusive investment scheme. Be careful ladies and when in doubt - do an image search on their photos.</p>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <a ui-sref="submitYourPersonalStory" id="anonymous-button23" class=" button button-positive  button-block ">Submit Your Own Personal Story</a>
    </ion-content>
</ion-view>