<ion-view title="Create A New Post" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="createANewPost-form8" class="list ">
            <label class="item item-input " id="createANewPost-input16">
                <span class="input-label">Subject</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="createANewPost-input17">
                <span class="input-label">Forum Post</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="createANewPost-button41" class=" button button-stable  button-block ">Post</button>
    </ion-content>
</ion-view>