<ion-view title="Forum Board" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="forumBoard-button32" class=" button button-stable  button-block ">Announcements</button>
        <button id="forumBoard-button33" class=" button button-stable  button-block ">Latest</button>
        <a ui-sref="discussions" id="forumBoard-button34" class=" button button-stable  button-block ">Discussions</a>
        <a ui-sref="createANewPost" id="forumBoard-button38" class=" button button-stable  button-block ">Create A New Post</a>
    </ion-content>
</ion-view>