<ion-view title="Help Line" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="helpLine-heading6" style="color:#000000;text-align:center;" class=" ">Help Line</h4>
        <p id="helpLine-markdown11" style="color:#000000;" class=" ">To provide assistance to users who are still in doubt about what online exploitations is or how they can affect you.</p>
        <div class="spacer" style="width: 300px; height: 7px;"></div>
        <p id="helpLine-markdown14" style="color:#000000;text-align:center;" class=" ">Singapore Police Force</p>
        <p id="helpLine-markdown15" style="color:#000000;text-align:center;" class=" ">Hotline: 999</p>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <p id="helpLine-markdown16" style="color:#000000;text-align:center;" class=" ">National Crime Prevention Council</p>
        <p id="helpLine-markdown21" style="color:#000000;text-align:center;" class=" ">Hotline: (65) 6252 4101</p>
        <p id="helpLine-markdown22" style="color:#000000;text-align:center;" class=" ">Email: spf_ncpc@spf.gov.sg</p>
        <p id="helpLine-markdown27" style="color:#000000;text-align:center;" class=" ">Fax: (65) 6251 2913</p>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <p id="helpLine-markdown24" style="color:#000000;text-align:center;" class=" ">Consumers Association of Singapore (CASE)</p>
        <p id="helpLine-markdown25" style="color:#000000;text-align:center;" class=" ">Hotline: 6100 0315</p>
        <p id="helpLine-markdown26" style="color:#000000;text-align:center;" class=" ">Fax: 6467 9055</p>
    </ion-content>
</ion-view>