<ion-view title="Internet Love Scam" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="mainMenu" id="internetLoveScam-button28" style="font-size:15px;text-align:left;" class=" button button-light  icon-left ion-android-arrow-back "></a>
        <div id="internetLoveScam-button-bar6" class=" button-bar "></div>
        <div id="internetLoveScam-button-bar5" class=" button-bar "></div>
        <h4 id="internetLoveScam-heading4" style="color:#000000;text-align:center;" class=" ">♥ Internet Love Scam</h4>
        <p id="internetLoveScam-markdown2" style="margin-top:0px;color:#000000;" class=" ">Info:</p>
        <p id="internetLoveScam-markdown3" style="margin-top:0px;color:#000000;font-size:13px;" class=" ">Scammers, who usually claim to be foreigners, target victims searching for love or friendship on dating websites or social networking sites. After befriending the victims and gaining their trust, scammers ask for monetary help for various reasons.</p>
        <div
        class="spacer" style="width: 300px; height: 12px;"></div>
            <a ui-sref="internetLoveScam2" id="internetLoveScam-button21" style="font-size:13px;" class=" button button-positive  button-block ">Find out more through personal stories</a>
            <div class="spacer" style="width: 300px; height: 80px;"></div>
    </ion-content>
</ion-view>