<ion-view title="Internet Love Scam" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="anonymous" id="internetLoveScam2-button25" style="text-align:left;" class=" button button-stable  button-block ">Anonymous | 25 April 2016</a>
        <a ui-sref="anonymous" id="internetLoveScam2-button26" style="text-align:left;" class=" button button-stable  button-block ">Spencer | 20 April 2016</a>
        <a ui-sref="anonymous" id="internetLoveScam2-button27" style="text-align:left;" class=" button button-stable  button-block ">Anonymous | 15 April 2016</a>
        <a ui-sref="anonymous" id="internetLoveScam2-button29" style="text-align:left;" class=" button button-stable  button-block ">Ivis | 7 April 2016</a>
        <a ui-sref="anonymous" id="internetLoveScam2-button30" style="text-align:left;" class=" button button-stable  button-block ">LemonTea | 1 April 2016</a>
    </ion-content>
</ion-view>