<ion-view title="Main Menu" id="page25" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <a style="display:block;" href="mailto:">
                <img src="img/Lsjz47ZpTh6q3rnA6Tvx_Logo.png" width="150" height="150" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div id="mainMenu2-button-bar7" class=" button-bar ">
            <a ui-sref="login" id="mainMenu2-button48" class=" button button-stable button-small button-block ">Logout</a>
            <a ui-sref="register" id="mainMenu2-button49" class=" button button-stable button-small button-block ">Register</a>
        </div>
        <form id="mainMenu2-form10" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search ">
            </label>
            <div class="spacer" style="width: 300px; height: 12px;"></div>
            <a ui-sref="onlineExploitations" id="mainMenu2-button50" class=" button button-positive  button-block ">Online Exploitations</a>
            <a ui-sref="forumBoard" id="mainMenu2-button51" class=" button button-positive  button-block ">Forum Board</a>
            <a ui-sref="news" id="mainMenu2-button52" class=" button button-positive  button-block ">News</a>
            <a ui-sref="videos" id="mainMenu2-button53" class=" button button-positive  button-block ">Videos</a>
            <a ui-sref="tipsAdvices" id="mainMenu2-button54" class=" button button-positive  button-block ">Tips &amp; Advices</a>
            <a ui-sref="helpLine" id="mainMenu2-button55" class=" button button-positive  button-block ">Help Line</a>
            <div id="mainMenu2-button-bar8" class=" button-bar "></div>
        </form>
    </ion-content>
</ion-view>