<ion-view title="News" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
		<div class="list"
			<div>
				<a href="#" onclick="window.open('http://www.straitstimes.com/singapore/rise-of-cybercrime-still-a-big-challenge', '_system', 'location=yes'); return false;" class="item">Rise of cybercrime 'still a big challenge'</a>
			</div>
			<div class="spacer" style="width: 300px; height: 41px;"></div>
			<div>
				<a href="#" onclick="window.open('http://www.straitstimes.com/singapore/dont-be-a-victim-of-cyber-attacks', '_system', 'location=yes'); return false;" class="item">Don't be a victim of cyber attacks</a>
			</div>
			<div class="spacer" style="width: 300px; height: 41px;"></div>
			<div>
				<a href="#" onclick="window.open('http://www.straitstimes.com/singapore/courts-crime/cybercrime-threat-a-big-challenge-for-singapore-president-tony-tan', '_system', 'location=yes'); return false;" class="item">Cybercrime threat a big challenge for Singapore: President Tony Tan</a>
			</div>
			<div class="spacer" style="width: 300px; height: 41px;"></div>
			<button id="news-button44" class=" button button-stable  button-block ">Load More</button>
		</div>
    </ion-content>
</ion-view>