<ion-view title="" id="page4" style="background-color:#91AACF;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 28px;"></div>
        <h1 id="page4-heading2" style="color:#000000;text-align:center;" class=" ">Welcome!</h1>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <a ui-sref="login" id="page4-button12" class=" button button-stable  button-block ">Continue to Login</a>
        <a ui-sref="mainMenu" id="page4-button13" class=" button button-stable  button-block ">Main Menu</a>
    </ion-content>
</ion-view>