<ion-view title="Register" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="register-form4" class="list ">
            <ion-list id="register-list3" class=" ">
                <label class="item item-input " id="register-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="register-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="register-input5">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input " id="register-input6">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input " id="register-input7">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="register-input8">
                    <span class="input-label">Gender</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="register-input9">
                    <span class="input-label">Age</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <a ui-sref="page4" id="register-button11" class=" button button-calm  button-block ">Register</a>
        </form>
    </ion-content>
</ion-view>