<ion-view title="Reply To" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="replyTo-markdown20" style="color:#000000;" class=" ">Reply to
            <strong>Jandy7134</strong>
        </p>
        <form id="replyTo-form9" class="list ">
            <label class="item item-input " id="replyTo-input20">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="whatShouldIDo2" id="replyTo-button42" class=" button button-stable  button-block ">Post</a>
    </ion-content>
</ion-view>