<ion-view title="Submit Your Personal Story" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="submitYourPersonalStory-form5" class="list ">
            <label class="item item-input " id="submitYourPersonalStory-input10">
                <span class="input-label">Subject</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="submitYourPersonalStory-input11">
                <span class="input-label">Story</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="submitYourPersonalStory-input13">
                <span class="input-label">Age</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="submitYourPersonalStory-input15">
                <span class="input-label">Gender</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="internetLoveScam2" id="submitYourPersonalStory-button31" class=" button button-stable  button-block ">Submit</a>
    </ion-content>
</ion-view>