<ion-view title="Tips Online Purchase" id="page23" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="tipsOnlinePurchase-heading11" style="color:#000000;" class=" ">Online Purchase</h4>
        <p id="tipsOnlinePurchase-markdown41" style="color:#000000;" class=" ">Tip #1: Make your online purchases only from reputable vendors</p>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <p id="tipsOnlinePurchase-markdown42" style="color:#000000;" class=" ">Tip #2: If advanced payments are necessary, only transact with people you know and trust. Otherwise, insist on getting a contact number so that the seller’s identity can be verified</p>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <p id="tipsOnlinePurchase-markdown43" style="color:#000000;" class=" ">Tip #3: Check that the person or company you are buying from is physically located where they claim to be</p>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <p id="tipsOnlinePurchase-markdown44" style="color:#000000;" class=" ">Tip #4: Check the company or seller’s track record. Make enquiries with the clients and customers about the service they received from the seller</p>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <p id="tipsOnlinePurchase-markdown45" style="color:#000000;" class=" ">Tip #5: Never give your bank account numbers, credit card numbers and personal information to anyone you do not know or have not checked out</p>
        <div class="spacer" style="width: 300px; height: 24px;"></div>
        <p id="tipsOnlinePurchase-markdown46" style="color:#000000;" class=" ">Tip #6: Do not provide any information that is not necessary to make the purchase</p>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <p id="tipsOnlinePurchase-markdown47" style="color:#000000;" class=" ">Tip #7: Do be mindful that scammers may use a local bank account for the transaction to enhance their credibility. The owner of the bank account may not be the person communicating with you online</p>
        <div class="spacer" style="width: 300px; height: 54px;"></div>
    </ion-content>
</ion-view>