<ion-view title="Tips Money Mule" id="page24" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="tipsMoneyMule-heading12" style="color:#000000;" class=" ">Money Mule</h4>
        <p id="tipsMoneyMule-markdown48" style="color:#000000;" class=" ">Tip #1: Do not give your particulars or bank account details to people you do not know or have met only over the internet</p>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <p id="tipsMoneyMule-markdown49" style="color:#000000;" class=" ">Tip #2: Decline any request by online acquaintances for money transfers.</p>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <p id="tipsMoneyMule-markdown50" style="color:#000000;" class=" ">Tip #3: If you suspect that you have received money in your bank account under the circumstances outlined above, report to the Police and your bank immediately. If the money is still with you, do not deal with it</p>
    </ion-content>
</ion-view>