<ion-view title="Tips Credit Sex Scam" id="page20" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="tipsCreditSexScam-heading8" style="color:#000000;" class=" ">Credit-for-Sex Scam</h4>
        <p id="tipsCreditSexScam-markdown29" style="color:#000000;" class=" ">Tip #1: Be wary of strangers who befriend you online and those who offer escort, massage or sexual services on social media</p>
        <div class="spacer" style="width: 300px; height: 8px;"></div>
        <p id="tipsCreditSexScam-markdown30" style="color:#000000;" class=" ">Tip #2: Do not provide personal details about yourself when engaging with other internet users</p>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <p id="tipsCreditSexScam-markdown31" style="color:#000000;" class=" ">Tip #3: Do not share your payment receipts containing details such as PINs with anyone</p>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <p id="tipsCreditSexScam-markdown32" style="color:#000000;" class=" ">Tip #4: If you have any information relating to this scam, do not hestitate to call the Police hotline at 1800-255 0000, or dial ‘999’ for urgent Police assistance.</p>
    </ion-content>
</ion-view>