<ion-view title="Tips Cyber Extortion" id="page22" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="tipsCyberExtortion-heading10" style="color:#000000;" class=" ">Cyber Extortion</h4>
        <p id="tipsCyberExtortion-markdown37" style="color:#000000;" class=" ">Tip #1: Exercise caution when befriending strangers on the internet</p>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <p id="tipsCyberExtortion-markdown38" style="color:#000000;" class=" ">Tip #2: Do not agree to any request that may put you in a vulnerable position, such as performing compromising acts in front of a webcam and providing personal details to other internet users</p>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <p id="tipsCyberExtortion-markdown39" style="color:#000000;" class=" ">Tip #3: Contact the Police immediately if you receive any message or call from anyone claiming he/she is in some kind of trouble overseas and need you to urgently send money over</p>
        <div class="spacer" style="width: 300px; height: 5px;"></div>
        <p id="tipsCyberExtortion-markdown40" style="color:#000000;" class=" ">Tip #4: Inform the Police if anyone tries to extort money from you</p>
    </ion-content>
</ion-view>