<ion-view title="Tips &amp; Advices" id="page18" class=" ">
    <ion-content padding="true" class="has-header">
        <h4 id="tipsAdvices-heading7" style="color:#000000;" class=" ">Tips &amp; Advices</h4>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <a ui-sref="tipsCreditSexScam" id="tipsAdvices-button35" class=" button button-assertive  button-block ">Credit-For-Sex Scam</a>
        <a ui-sref="tipsInternetLove" id="tipsAdvices-button43" class=" button button-assertive  button-block ">Internet Love Scam</a>
        <a ui-sref="tipsCyberExtortion" id="tipsAdvices-button45" class=" button button-assertive  button-block ">Cyber Extortion</a>
        <a ui-sref="tipsOnlinePurchase" id="tipsAdvices-button46" class=" button button-assertive  button-block ">Online Purchase</a>
        <a ui-sref="tipsMoneyMule" id="tipsAdvices-button47" class=" button button-assertive  button-block ">Money Mule</a>
    </ion-content>
</ion-view>