<ion-view title="What Should I Do?" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="whatShouldIDo-markdown17" style="color:#000000;" class=" ">
            <strong>What Should I Do?</strong>| 19/05/2016</p>
        <p id="whatShouldIDo-markdown18" style="color:#000000;" class=" ">
            <strong>Jandy7134</strong>
        </p>
        <p id="whatShouldIDo-markdown19" style="color:#000000;" class=" ">I think I have been scammed by somebody name Icester online. I visited her blogshop intending to buy this bag, however, after paying for it and waiting for more than a month, the purchased item still has yet arrived. Thus, I think I'm scammed.
            What can I do at this point of time? Please give me some advices my dear friends.</p>
        <a ui-sref="replyTo" id="whatShouldIDo-button39" class=" button button-stable  button-block ">Reply</a>
        <a ui-sref="createANewPost" id="whatShouldIDo-button40" class=" button button-stable  button-block ">Create a New Post</a>
    </ion-content>
</ion-view>